body {
  background-image: url("Img/fondo.jpeg"); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Style for the top navigation */
.top-nav {
  background-color: #000;
  overflow: hidden;
}
  
/* Style for the navigation links */
.top-nav li {
  float: right;
}
  
.top-nav li a {
  display: inline-block;
  color: white;
  text-align: left;
  padding: 10px 10px;
  text-decoration: none;
}

/*  CSS for the container product */
.product {
  display: flex;
}

.image {
  position: relative;
  margin-right: 20px;
  margin-left: 30px;
  margin-top: 100px;
  margin-bottom: 20px;
}

.image img {
  width: 200px;
  height: auto;
}

.description-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 80%;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  color: #000;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image:hover .description-overlay {
  opacity: 1;
}

.image:hover .description {
  opacity: 1;
}
/* Carrousel */
.container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.image-container {
  position: relative;
}

.thumbnails {
  display: flex;
  position: absolute;
}

.thumbnail {
  flex-basis: 20%;
  height: 60px;
  background-color: white;
  margin: 0 5px;
  cursor: pointer;
}

.product-description {
  margin-left: 20px;
  margin-right: 20px;
}

.carousel-image {
  display: block;
  width: 100%;
  height: auto;
}
.product-description {
  flex-basis: 70%;
  background-color: white;
  padding: 20px;
}

.product-description h2 {
  font-size: 24px;
}

.product-description p {
  font-size: 18px;
}

/* FOOTER BAR */

.bottom-bar {
  background-color: #f1f1f1;
  color: #000;
  padding: 10px;
  position: bottom;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

.logo-foot {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.logo-foot-img {
  max-height: 30px;
  max-width: 100px;
}

/* buttons */
.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

/* pop up */

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-bottom: 20%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  max-width: 400px;
  display: none;
}

.popup:target {
  display: block;
}

.close {
  float: right;
}