body {
  background-image: url("Img/fondo.jpeg"); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Style for the top navigation */
.top-nav {
  background-color: #000;
  overflow: hidden;
}
  
/* Style for the navigation links */
.top-nav li {
  float: right;
}
  
.top-nav li a {
  display: inline-block;
  color: white;
  text-align: left;
  padding: 10px 10px;
  text-decoration: none;
}


/* Organization Div */

.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1f;
}

.image-row {
  grid-column-start: 1;
  grid-column-end: 3;
  width: 100%;
}

.text-row {
  grid-column-start: 4;
  grid-column-end: 6;
}  



/*  CSS for the container product */
.product-container {
   display: flex;
    justify-content: left;
    align-items: left;
    height: 300px;
    position: relative;
  }
  
.product-image {
    width: 200px;
    height: 200px;
    background-color: #ccc;
    border-radius: 10px;
    transition: transform 0.3s ease;
  }
  
.product-image:hover {
    transform: scale(1.1);
  }
  
.product-info {
    position: absolute;
    bottom: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    width: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flexbox;
    align-items: center;
  }
  
.product-container:hover .product-info {
    opacity: 1;
  }

/* principal product */

.container {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
}

.main-image {
  margin-bottom: 20px;
}

.carousel {
  display: flex;
  justify-content: left;
  align-items: left;
}

.carousel-image {
  max-width: 100px;
  margin: 0 10px;
}

.description {
  margin-top: 20px;
  color: #fff;
}

/* FOOTER BAR */

.bottom-bar {
  background-color: #f1f1f1;
  color: #000;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

.logo-foot {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.logo-foot-img {
  max-height: 30px;
  max-width: 100px;
}

